@model IEnumerable<CommonLayer.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ProductName
        </th>
        <th>
            ProductDescription
        </th>
        <th>
            Stock
        </th>
        <th>
            Price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Productid })
        </td>
        <td>
            @item.ProductName
        </td>
        <td>
            @item.ProductDescription
        </td>
        <td>
            @item.Stock
        </td>
        <td>
            @String.Format("{0:F}", item.Price)
        </td>
    </tr>
}

</table>

